a, a:hover, a:focus{
    text-decoration: none;
}

/*@font-face {
    font-family: 'proxima-nova';
    src: url("{% static 'music/fonts/proxima-nova.otf' %}");
}
@font-face {
    font-family: 'PROXIMANOVA-LIGHT';
    src: url("{% static 'music/fonts/PROXIMANOVA-LIGHT.OTF' %}");
    
}
@font-face {
    font-family: 'PROXIMANOVA-BLACK';
    src: url("{% static 'music/fonts/PROXIMANOVA-BLACK.OTF' %}");

}
@font-face {
    font-family: 'PROXIMANOVA-BOLD';
    src: url("{% static 'music/fonts/PROXIMANOVA-BOLD.OTF' %}");
    
}*/
@font-face {
    font-family: 'proxima-nova';
    src: url("../fonts/proxima-nova.otf");
}
@font-face {
    font-family: 'PROXIMANOVA-LIGHT';
    src: url("../fonts/PROXIMANOVA-LIGHT.OTF");
}
@font-face {
    font-family: 'PROXIMANOVA-BLACK';
    src: url("../fonts/PROXIMANOVA-BLACK.OTF");
}
@font-face {
    font-family: 'PROXIMANOVA-BOLD';
    src: url("../fonts/PROXIMANOVA-BOLD.OTF");
}
body{
    font-family: 'proxima-nova';
}
.work-item p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: left;
    z-index: 55555;
    position: absolute;
    margin: 0px;
    bottom: 45px;
    width: auto !important;
    padding-right: 5px !important;
    border-bottom: 2px solid #faa919;
    padding-left: 8px !important;
    padding-bottom: 5px !important;
}
.navi-tab li a{
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    padding: 7px 85px !important;
    font-size: 18px;
    font-family: PROXIMANOVA-LIGHT;
    font-weight: normal;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    border-style: solid;
    border-radius: 0px;
}
ul.nav.navi-tab {
    margin-bottom: 30px;
}
.work-item a:hover:after{
    opacity: 1;
    background-color: rgba(250, 169, 25, 0.75);   

    transition: all .5s;
}

.work-item a:after {
    content: "";
    transition: all .5s;
    opacity: 0;
    z-index: 33333;
    position: absolute;
    background: rgba(250, 169, 25, 0.75);  
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
}    
.work-item a:hover:before {
    content: "\f00e";
    font-family: FontAwesome;
    transition: all .5s;
    z-index: 55555;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-right: 0.5em;
    position: absolute;
    top: 43%;
    margin: auto;
    right: 0px;
    left: 0;
}
.work-item img {
    width: 100%;
}
.work-item {
    padding: 0px;
    margin: 5px;
    width: 32%;
}
.works-more-parent{text-align: center;}
.navi-tab li a:hover, .navi-tab li.active a{
    background-color: #faa919;
    color: #fff;
}
.navi-tab li{
    display: inline-block;
        margin: 0px 27px;
    border: none;
}
.ele-align{
    text-align: center;
}
.ele-pos{
    position: absolute;
    display: inline-block !important;
}
.element-animation{
    animation: animationFrames ease 3s;
    animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 2s;
 }
 @keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-0px,48px)  ;
  }
  50% {
    opacity:0.0;
    transform:  translate(-58px,48px)  ;
  }
  70% {
    opacity:0;
    transform:  translate(-58px,48px)  ;
  }

  100% {
    opacity:1;
    transform:  translate(-105px,65px)  ;
  }
}

.element-animation2{
  animation: animationFrames2 ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 3s;

}

@keyframes animationFrames2{
  0% {
    opacity:0;
    transform: translate(135px,45px);
  }
  70% {
    opacity:0.0;
    transform: translate(135px,45px);
  }
  80% {
    opacity:0;
    transform: translate(135px,45px);
  }
100% {
    opacity: 1;
    transform: translate(135px,45px);
}
}


.element-animation3{
    animation: animationFrames3 ease 3s;
    animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 4.5s;
 }
 @keyframes animationFrames3{
  0% {
    opacity:0;
    transform: translate(-170px,-40px);
  }
  50% {
    opacity:0.0;
    transform: translate(-170px,-40px);
  }
  70% {
    opacity:0;
    transform: translate(-170px,-40px);
  }

  100% {
    opacity: 1;
    transform: translate(-195px,60px);
}
}
.element-animation4{
    animation: animationFrames4 ease 3s;
    animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 6s;
 }
 @keyframes animationFrames4    {
  0% {
    opacity:0;
    transform:  translate(-0px,48px)  ;
  }
  50% {
    opacity:0.0;
    transform:  translate(-58px,48px)  ;
  }
  70% {
    opacity:0.0;
    transform:  translate(-58px,48px)  ;
  }

  100% {
    opacity:1;
    transform: translate(-90px,25px);
  }
}
.element-animation5{
    animation: animationFrames5 ease 3s;
    animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 5s;
 }
 @keyframes animationFrames5    {
  0% {
    opacity:0;
    transform:  translate(-0px,48px)  ;
  }
  50% {
    opacity:0.0;
    transform:  translate(-58px,48px)  ;
  }
  70% {
    opacity:0.0;
    transform: translate(-490px,475px);
  }

  100% {
    opacity:1;
    transform: translate(-410px,275px);
  }
}
.element-animation6{
    animation: animationFrames6 ease 3s;
    animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
  animation-duration: 6.5s;
 }
 @keyframes animationFrames6    {
  0% {
    opacity:0;
    transform:  translate(-0px,48px)  ;
  }
  50% {
    opacity:0.0;
    transform:  translate(-58px,48px)  ;
  }
  70% {
    opacity:0.0;
    transform: translate(-531px,400px);
  }

  100% {
    opacity:1;
    transform: translate(-431px,380px);
  }
}
.ele-align .thumbnail img{
    width: auto !important;
}
#orange{
    opacity: 0;
    fill:#F9A91A;
    transition: all .5s;
}

#yellow{
    opacity: 0;
    fill:#F9A91A;
    transition: all .5s;
}
a.ug-tab:hover {
    color: #fff !important;
}
a.ug-tab{
    border: #cccccc;
}
.header-fluid {
    background: #fda417;
}
a.dat-menu-button {
    display: none;
}
.menu-sec ul li {
    list-style-type: none;
    display: inline;
    margin: 0 15px;
}
.thumbnail{
    padding: 0px;
    border: none;
}
.carousel-fade .carousel-inner .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }

    .carousel-control {
        z-index: 2;
    }


.carousel-inner>.item{
    transition: transform 2s ease-out;
}
.menu-sec ul{
	display: inline-block;
	padding: 0px;
}
#main-menu {
    display: inline;
}
.menu-sec a {
    color: #fff;
    font-size: 14px;
}
.plus-li:before{
	content: url("assets/images/plus.png");
	    position: relative;
    top: 11px;
}
.twitter-li:before{
	content: url("assets/images/twitter.png");
	    position: relative;
    top: 11px;
}
.fb-li:before{
	content: url("assets/images/fb.png");
	    position: relative;
    top: 11px;
}
.menu-sec {
    padding-top: 10px;
    padding-left: 35px;
}
.menu-sec .menu-item.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}
.sticky-ul li{
	margin: 0 3px !important;
}
.mails {
    display: inline-block;
    position: relative;
    top: 15px;
}
.mails a {
    display: block;
    text-align: center;
}
ul.sticky-ul {
    padding-left: 50px;
    padding-right: 15px;
}
.mails a:first-child{
	font-size: 27px;
}
.mails a:last-child {
    letter-spacing: 0.8px;
}
.logo-sec:before {
    content: url(assets/images/logobehind.png);
    position: absolute;
    left: 0px;
    z-index: 10;
}
a.navbar-brand-bak {
    z-index: 3333;
    position: relative;
}
.slider-col {
    padding: 0px;
}
.glyphicon-chevron-left:before {
    content: url(assets/images/arrow-left.png);
}
.glyphicon-chevron-right:before {
    content: url(assets/images/arrow-right.png);
}
.who-col h2 {
    font-family: PROXIMANOVA-BLACK;
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
    padding-top: 65px;
}
.who-col p {
    font-size: 14px;
    max-width: 378px;
    color: #fff;
    line-height: 2;
    font-family: PROXIMANOVA-LIGHT;
}
.who-fluid {
    background: url(assets/images/who-bg.jpg);
    background-size: cover;
    padding-top: 135px;
    box-shadow: 0px 5px 190px 98px #a88356;
    background-position: 50% 2%;
    z-index: 22;
    position: relative;
    padding-bottom: 200px;
}
.who-col a {
    color: #fff;
    background: #020100;
    padding: 13px 55px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: inline-block;
}
.exterior-col {
    padding: 10px 0 0 0;
    text-align: right;
    z-index: -1;
}
.dom-sub-p{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 135px;
    z-index: 333333;
}
.div-20 {
    width: 290px;
    display: inline-block;
    text-align: left;
    position: relative;
    left: -50px;
    color: #fff;
    line-height: 2;
}
.div-20 h3 span {
    font-size: 72px;
    font-family: PROXIMANOVA-BLACK;
    color: #fff;
}
.div-20 h3 {
    width: 150px;
    font-family: proximanova-bold;
    color: #fff;
    margin-top: 35px;
    font-size: 30px;
}
.rectangle {
    position: absolute;
    top: 175px;
    margin: auto;
    left: 20px;
    right: 0px;
    z-index: 3;
}
.rectangle-div {
    position: relative;
}
.dom-fluid {
    position: relative;
    z-index: 33;
    background: #fff;
    height: 222px;
}
.dom-cols div {
    background: url(assets/images/domestic.png) no-repeat center;
    transition: all .8s;
    border-radius: 51%;
    font-size: 30px;
    padding-top: 0px;
    color: #fff;
    width: 100%;
    height: 100%;
}
.dom-sub:after, .cor-sub:after, .com-sub:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.46);
    display: inline-block;
    border-radius: 51%;
    z-index: 3333;
    transition: all .8s;
    position: relative;
}

.com-sub{
    background: url(assets/images/commercial.png) no-repeat center !important;
    transition: all .8s;
}
.cor-sub{
    background: url(assets/images/corporate.png) no-repeat center !important;
    transition: all .8s;
}
.dom-cols:hover .dom-sub:after, .dom-cols:hover .com-sub:after, .dom-cols:hover .cor-sub:after{
    background: rgba(0,0,0,0.0);
    transition: all .8s;
}

.dom-sub, .com-sub, .cor-sub {
    height: 315px;
    width: 315px;
    text-align: center;
    display: inline-block;'
    position: relative;
}
.dom-cols {
    text-align: center;
    display: inline-block;
    border: 10px solid rgba(173, 173, 173, 0.48);
    border-radius: 53%;
    height: 315px;
    padding: 0px;
    width: 315px;
    margin: 0 37px;
    margin-top: -167px;
}
.works-col {
    text-align: center;
}
.works-col h3 {
    text-align: center;
    font-size: 31px;
    position: relative;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 25px;
}
.works-col h3:before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #faa919;
    position: absolute;
    left: -90px;
    top: 15px;
}
.works-col h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #faa919;
    position: absolute;
    right: -90px;
    top: 15px;
}
.ug-textpanel{
    z-index: 33 !important;
}
.ug-tile .ug-textpanel-title {
    font-size: 14px;
    font-weight: bold;
    width: auto !important;
    padding-right: 5px !important;
    border-bottom: 2px solid #faa919;
    padding-left: 8px !important;
    padding-bottom: 5px !important;
}

.ug-tabs-wrapper {
    margin-bottom: 35px !important;
}
.ug-textpanel-textwrapper{
    position: static !important;
}
.ug-tile.ug-tile-clickable .ug-textpanel {
    bottom: 40px !important;
}
.works-more{
        color: #fff;
    background: #020100;
    padding: 13px 55px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    display: inline-block;
}
.works-more:hover{
    color: #fff;
}
a.ug-tab.ug-tab-selected {
    color: #fff !important;
}
a.ug-tab {
    padding: 7px 85px !important;
    margin: 0 50px;
}
.ug-gallery-wrapper {
    margin-bottom: 20px !important;
}
p.pro-1 {
    font-size: 36px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 0px;
}
p.pro-1 span{
    font-size: 45px;

    font-family: 'Abel', sans-serif;
}

p.pro-2{
    font-size: 18px;
    color: #fff;
    margin-top: -6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.pro-fluid {
    background: #f8a912;
    padding: 30px 15px;
}
.contact-pro{
    padding: 0px;
}
.footer-fluid .sticky-ul li, ul.add-ul li {
    display: inline-block;
    list-style-type: none;
}
ul.add-ul li a, ul.add-ul li:hover{
    color: #fff;
}
.footer-address {
    text-align: center;
}
ul.sticky-ul {
    display: inline-block;
    color: #fff;
    padding: 0;
}
.footer-stick{
    text-align: center;
}
.container-fluid.footer-fluid {
    background: url(assets/images/footer-bg.jpg);
    padding-top: 35px;
    background-size: cover;
    background-attachment: fixed;
}
ul.add-ul {
    padding: 0px;
    display: inline-block;
    color: #fff;
    margin-top: 35px;
}
ul.add-ul li p {
    display: inline-block;
    max-width: 215px;
    position: relative;
    top: 10px;
}
ul.add-ul li {
    width: 277px;
    position: relative;
}
ul.add-ul li:before {
    content: url(assets/images/shape-1.png);
    position: absolute;
    top: -24px;
    left: 0px;
}
.footer-menu{
    text-align: center;
    margin-top: 25px;
        text-align: center;
        padding: 0px;
    margin-top: 25px;
    border-bottom: 1px solid #121212;
    padding-bottom: 5px;
}
.copycat{
    text-align: center;
}
.copycat p{
    margin-bottom: 0px;
    padding: 20px 0; 
    color: #fff;
}
.carousel-caption {
    top: 250px;
}
.carousel-caption h3 {
    font-size: 60px;
    display: inline-block;
    font-family: PROXIMANOVA-LIGHT;
    border: 1px solid #fff;
    padding: 5px 5px;
}   
.carousel-caption h3:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 230px;
    background: white;
    margin: auto;
    display: block;
    left: 0px;
    right: 0px;
    margin-top: 6px;
}
.space-contact {
    color: #fff;
    background: #020100;
    padding: 13px 20px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0;
    z-index: 33;
    margin: auto;
    width: 187px;
}
.space-parent {
    text-align: center;
}

div#Carousel .item img {
    width: 100%;
}
#main-menu {
    display: inline-block;
    padding-top: 35px;
}
.after-float {
    display: inline-block;
    float: right;
    position: relative;
    left: -20px;
}
.header-fluid ul.sticky-ul {
    margin-right: 20px;
}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom {
    top: 105px !important;
}
.div-20 p {
    font-family: PROXIMANOVA-LIGHT;
    font-weight: 100;
}

.ug-thumb-wrapper .ug-thumb-overlay:hover img {
    display: none;
}
.space-parent{
    z-index: 444;   
    position: relative;
}
/*responsive*/
@media only screen and (max-width: 1200px){
.menu-sec ul li {
    margin: 0 8px;
}
.exterior-col img {
    width: 100%;
}
.menu-sec {
    padding-left: 40px;
    padding-right: 0;
}
.rectangle {
    width: 190px;
    height: 460px;
}
.who-fluid {
    padding-top: 45px;
}
.dom-cols {
    border: 10px solid rgba(173, 173, 173, 0.48);
    height: 295px;
    padding: 0px;
    width: 295px;
    margin: 0 10px;
    margin-top: -167px;
}
.menu-sec ul li:last-child {
    margin-right: 0px;
}
.dom-sub-p {
    top: 125px;
}
.works-more {
    padding: 13px 30px;
}
p.pro-1 {
    font-size: 30px;
}
.header-fluid ul.sticky-ul {
    margin-right: 0px;
}
#Layer_1{
    left: -25px;
}
.logo-sec:before {
    left: -45px;
}

}


@media only screen and (max-width: 992px){
#main-menu {
    padding-top: 15px;
    display: block;
    text-align: right;
}
.after-float {
    display: block;
    float: right;
    margin-top: -15px;
    text-align: center;
}
.menu-sec ul {
    padding-right: 20px;
}
.carousel-caption h3:after {
    height: 130px;
}
.space-contact{
    bottom: 14px;
}
.carousel-caption {
    bottom: 150px;
}
.who-col h2 {
    padding-top: 5px;
}
.exterior-col {
    padding: 100px 0 0 0;
}
.rectangle {
    display: none;
}
.carousel-caption h3 {
    font-size: 40px;
}
.who-col img {
    width: 100%;
}
.div-20 h3 {
    margin-top: 180px;
    font-size: 30px;
}
.who-fluid {
    background-position: 67% 2%;
}
.dom-cols {
    height: 195px;
    width: 195px;
}
.dom-cols div {
    font-size: 25px;
}
.dom-sub-p {
    top: 75px;
}
.dom-cols {
    margin-top: -105px;
}
.dom-fluid {
    text-align: center;
    height: 160px;
}
a.ug-tab {
    padding: 7px 40px !important;
    margin: 0 20px;
}
p.pro-1 span {
    font-size: 34px;
}
.contact-pro {
    padding: 0px 15px;
}
.pro-fluid {
    padding-bottom: 0px;
}
ul.add-ul li {
    width: 190px;
}
ul.add-ul {
    margin-top: 10px;
}
.footer-menu #main-menu {
    text-align: center;
}
.menu-sec {
    padding-top: 0px;
}
.footer-menu {
    margin-top: 10px;
}
.exterior-col {
    padding: 60px 15px 0 15px;
}

}
@media only screen and (max-width: 768px){
.logo-sec:before {
    display: none;
}
.logo-sec svg{
    position: static !important; 
}
#main-menu {
    padding-top: 5px;
}
.exterior-col img, .who-col img {
    max-width: 360px;
}

.exterior-col {
    text-align: center;
}
.who-col a {
    padding: 10px 20px;
    display: block;
    width: 135px;
    margin-top: 5px;
}
.who-col p {
    max-width: 378px;
    text-align: justify;
}
.who-col {
    text-align: center;
}

.logo-sec, #main-menu, .after-float{
    text-align: center !important;
    float: none;
    padding-bottom: 5px;
}
.after-float{
	padding-bottom: 15px;
}
.who-col p {
    max-width: none;
    display: inline-block;
}
.who-fluid {
    padding: 0px;
}
.div-20 {
    width: 290px;
    left: -60px;
    position: static;
}
.div-20 h3 {
    margin-top: 20px;
}
.dom-fluid {
    height: auto;
}
.dom-cols {
    margin: 0 10px;
    margin-top: 30px;
}
a.ug-tab {
    padding: 2px 5px !important;
    margin: 0px 20px;
}
a.ug-tab {
    padding: 2px 5px !important;
    margin: 0px 15px;
}
    .works-fluid {
    padding: 0px;
}
.works-col h3 {
    font-size: 26px;
    margin-top: 55px;
}
.works-col h3:after {
    width: 40px;
    right: -46px;
}
.works-col h3:before {
    width: 40px;
    left: -46px;
}
a.ug-tab {
    font-size: 16px;
}
}
@media only screen and (max-width: 355px){
.after-float {
    padding-bottom: 25px !important;
}
.works-col h3 {
    font-size: 24px;
}
}





